@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.logo{
    width: 150px;
}

.bg-nav{
    background-color: aliceblue;
}

.btn-color{
    border-color: black;
}

.container-main{
    margin: 10px auto;
    width: 100%;
}

h1{
    font-size: 1.5rem;
    margin: 10px 10px;
}

.img-main{
    width: 80%;
    height: 80%;
    margin: auto;
}

.txt-center{
    text-align: center;
}

.iframe{
    text-align: center;
    margin-top: 15px;
}
    section div iframe{
        width: 90%;
    }

footer{
    width: 100%;
    margin: auto;
    background-color: aliceblue;
    text-align: center;
}
    footer a img{
        width: 40px;
        height: 40px;
    }

/*media queries*/

@media only screen and (max-width: 992px){
    .medium{
        margin-top: 10px;
    }
    .container-main{
        width: 80%;
    }
}

