<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>Mundo Virtual</title>
</head>
<body>
    <div class="contenedor">
    <header id="header">
        <a href="../index.html">
            <img class="logo" src="../img/mundodigitallogo.jpg" alt="logo">
        </a>
    </header>
        <nav id="nav">
            <ul>
                <li><a href="./smartphones.html">SmartPhones</a></li>
                <li><a href="./smartwatches.html">SmartWatches</a></li>
                <li><a href="./notebooks.html">Notebooks</a></li>
                <li><a href="./audioyvideo.html">Audio/Video</a></li>
                <li><a href="">Ofertas</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    <main id="productos">
        <section>
            <h1>SmartWatches</h1>
            <div class="productos">
                <img class="imgProductos" src="../img/smartwatch1.jpg" width="400px" height="600px" alt="Smartwatch">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, mollitia?</p>
                <button>usd1650</button>
            </div>
            <div class="productos">
                <img class="imgProductos" src="../img/smartwatch2.png" width="400px" height="400px" alt="Smartwatch">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, mollitia?</p>
                <button>usd1650</button>
            </div>
            <div class="productos">
                <img class="imgProductos" src="../img/smartwatch3.png" width="400px" height="400px" alt="Smartwatch">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, mollitia?</p>
                <button>usd1650</button>
            </div>
            <div class="productos">
                <img class="imgProductos" src="../img/smartwatch1.jpg" width="400px" height="600px" alt="Smartwatch">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, mollitia?</p>
                <button>usd1650</button>
            </div>
        </section>
        <section id="iframe">
            <iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.5031550490503!2d-56.16854128418298!3d-34.89382068041354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81abf129825f%3A0xb9c6f293bee406f4!2sTres%20Cruces%20Shopping!5e0!3m2!1ses-419!2suy!4v1653402736673!5m2!1ses-419!2suy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>
    <footer id="footer">
        <a href="https://es-la.facebook.com/" target="_blank">
            <img src="../img/facebookicon.png" alt="icono de facebook">
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <img src="../img/instagramicon.png" alt="Icono de instagram">
        </a>
    </footer>
</div>
</body>
</html>